<% const d = new Date()
let year = d.getFullYear() %>
<footer>
  <p class="copyright">&copy; <%= year %>, CSE 340 App</p>
  <p class="footer-links">
    <a href="/inv/trigger-error" title="Trigger an intentional server error">Error Test (500)</a>
  </p>
</footer>
