<nav>
  <ul>
    <li><a href="/" title="Home Page">Home</a></li>
    <li><a href="/custom" title="Custom Page">Custom</a></li>
    <li><a href="/sedan" title="Sedan Page">Sedan</a></li>
    <li><a href="/suv" title="SUV Page">SUV</a></li>
    <li><a href="/truck" title="Truck Page">Truck</a></li>
  </ul>
</nav>