<%# *****************************
  # Classification View
  # ***************************** %>

<%# ---- Content Heading ---- %>
<% if (title) { %>
  <h1><%= title %></h1>
<% } else { %>
  <% res.redirect('/') %>
<% } %>

<%# ---- Message Block (future use) ---- %>
<%- messages() %>

<%# ---- Inventory Items Display ---- %>
<%- grid %>
