<h1>
  <%= title %>
</h1>

<% if (messages.notice) { %>
  <div class="notice">
    <%= messages.notice %>
  </div>
  <% } %>

    <ul>
      <li><a href="/inv/add-classification">Add New Classification</a></li>
      <li><a href="/inv/add-inventory">Add New Inventory Item</a></li>
    </ul>